<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phi3_real_agent">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="Phi-3 Agent"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
